# Environment
.env
.venv
.UQ-venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/
*.code-workspace

# Project specific
dados_pessoais.csv
*.pdf
markdown/*.md
clean/*.md
markdown_clean/*.md
!contextos/*.md

# Logs
*.log

# System files
.DS_Store
Thumbs.db